.services-section {
  margin-top: 4rem;
}

.services__header {
  display: flex;
  column-gap: 3rem;
  width: 69%;
  margin-bottom: 2rem;
}

.sub-heading {
  font-size: 2.5rem;
  background-color: var(--green);
  padding: 0.2rem;
  border-radius: 0.4rem;
}

.services__header p {
  font-size: 1.12rem;
}

.services__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
}

.card {
  display: flex;
  justify-content: space-between;
  border-radius: 45px;
  border: 1px solid var(--dark, #191a23);
  background: var(--grey, #f3f3f3);
  box-shadow: 0px 5px 0px 0px #191a23;
  padding: 2rem;
  width: 90%;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 5px 0px 0px white;
}

.card img {
  width: 35%;
}

.card.green-bg {
  background: var(--green, #b9ff66);
}

.card.black-bg {
  background: var(--dark, #191a23);
}

.card.black-bg a {
  color: white;
}

.card__details h3 {
  font-size: 1.12rem;
  background-color: var(--green);
  padding: 0.2rem;
  border-radius: 0.4rem;
}

.card__details h3.white-bg {
  background-color: white;
}

.card__details h3:nth-child(2) {
  width: 89%;
  margin-bottom: 3rem;
}

.card__details a:nth-child(3) {
  display: flex;
  align-items: center;
}

.card__details a:nth-child(3) img {
  width: 2rem;
  margin-right: 0.5rem;
}

.proposal-card {
  display: flex;
  align-items: center;
  gap: 17.1875rem;
  border-radius: 2.8125rem;
  background: var(--grey, #f3f3f3);
  padding: 1.5rem 3.75rem;
  margin-top: 5rem;
}

.proposal-card div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.625rem;
}

.proposal-card img {
  width: 30%;
}
