header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 6rem;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.nav-link {
  color: var(--dark);
  font-size: 1.4rem;
}

.nav-link:hover{
    font-weight: 600;
}

.btn-link {
  border-radius: 14px;
  border: 1px solid var(--dark, #191a23);
  font-size: 1.4rem;
  padding: 1.4rem 2rem;
  transition: background 2s ease-out;
}

.btn-link:hover{
    background-color: var(--dark, #191a23);
    color: var(--grey);
}
