.case-header {
  display: flex;
  column-gap: 3rem;
  width: 90%;
  margin-bottom: 2rem;
}

.case-header p {
  flex-basis: 33rem;
}

.testimony {
  padding: 5.25rem 0rem 4.25rem 0rem;
  align-items: center;
  border-radius: 2.8125rem;
  background: var(--Dark, #191a23);
}

.swiper-button-next {
  background-image: url("../../assets/arrow-right.png");
  background-repeat: no-repeat;
}

.swiper-button-prev {
  background-image: url("../../assets/arrow-left.png");
  background-repeat: no-repeat;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: "" !important;
}

.swiper-pagination-bullet {
  background-image: url("../../assets/pagination-indicator.png");
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  border-radius: 0;
  background-color: transparent;
}

.swiper-pagination-bullet-active{
  background-image: url("../../assets/pagination-indicator-active.png");
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: -1rem;
}