.case-header {
  display: flex;
  column-gap: 3rem;
  width: 90%;
  margin-bottom: 2rem;
}

.case-header p {
  flex-basis: 33rem;
}

.swiper-button-next{
  background-image: url("../../assets/arrow-right.png");
  background-repeat: no-repeat;
}
